In [1]:
# Arithemtics Operators

In [2]:
print(1 + 2 + 3 * 4) # first perform multiplication operation and then addition.

15

In [3]:
print((1 + 2 + 3) * 4) # now first perform addition then perform multiplication.

24

In [4]:
print(3 ** 2) # Exponentiation

9

In [5]:
print(4 % 3) # return the reminder

1

In [6]:
print(7 // 2) # integer division

3

In [7]:
print(7 / 2)

3.5

In [8]:
print(-7 // 2) # -4 !!! round()

-4

In [9]:
# Variables and Assignment Operators

In [10]:
x = 2
y = x
print(y)

2

In [11]:
# multiple assignment
x = 3
y = 4
z = 9

# same as above
x, y, z = 3, 4, 9

In [12]:
# calculating the populations density
x = 74728
y = 11.995
z = x / y
print(z)

6229.929137140475

In [13]:
# the above is correct but below is more appropriate
mv_population = 74728
mv_area = 11.995
mv_density = mv_population / mv_area
print(mv_density)

6229.929137140475

In [14]:
# pythonic way to declare variable
my_height = 58
my_lat = 40
my_long = 105

In [15]:
mv_population = 74728
mv_population = mv_population + 4000 - 600
print(mv_population)

78128

In [16]:
mv_population = 74728
mv_population += 4000 - 600 # instead of using mv_population twice we can do like this 
print(mv_population)

78128

In [17]:
reservoir_volume = 4.445e8
reservoir_volume

444500000.0

In [23]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8
# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall *= .9

# add the rainfall variable to the reservoir_volume variable
reservoir_volume += rainfall

# increase reservoir_volume by 5% to account for stormwater that flows
# into the reservoir in the days following the storm
reservoir_volume *= 1.05

# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume *= 0.95

# subtract 2.5e5 cubic metres from reservoir_volume to account for water
# that's piped to arid regions.
reservoir_volume -= 2.5e5 

# print the new value of the reservoir_volume variable
print(reservoir_volume)

447627500.0

In [24]:
# Integers and Floats

In [25]:
print(3/4) # 0.75, output is a float number

0.75

In [26]:
print(16/4) # 4.0 is also a float number

4.0

In [27]:
print(3//4) # integer division. now output is integer number

0

In [28]:
print(type(4)) # type() is a built-in function that returns the type of object

<class 'int'>

In [29]:
print(3 + 3.5) # an operation involving int and float always produce float

6.5

In [31]:
# convert float to int, and int to float
print(int(45.6)) # part of the number after decimal point is cut off.
print(float(3))

45
3.0

In [32]:
print(0.1 + 0.1 + 0.1) # 0.30000000000000004, wooh!!!, 0.1 is more than 0.1 in Python

0.30000000000000004

In [33]:
# Booleans, Comparison Operators, and Logical Operators

In [34]:
flag = True

In [36]:
print(flag)

True

In [37]:
result = 33 > 56
print(result) # False

False

In [38]:
age = 14
is_teen = age > 12 and age < 20 # `and` return true if both side is true
print(is_teen)

True

In [39]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise
print(san_francisco_pop_density > rio_de_janeiro_pop_density)

False

In [40]:
#or
if(san_francisco_pop_density > rio_de_janeiro_pop_density):
    print(True)
else:
    print(False)

False

In [1]:
# String

In [2]:
# create string using single quotes
print('Single quotes string.')

# create string using dobule quotes
print("Dobule quotes string.")

Single quotes string.
Dobule quotes string.

In [3]:
# store string in the variable
welcome_message = 'Hello, welcome to the Udacity course.'
print(welcome_message)

Hello, welcome to the Udacity course.

In [4]:
# print quotation marks inside the string
# solution - 1 (place single quotes rather than double quotes)
pet_halibut = 'Why should I tarred with the epithet "loony" merely because I have a pet halibut.'
print(pet_halibut)

# solution - 2 (When we need to put both single quotes and double quotes inside the string we can do this using `\` slash character)
salesman = '"I think you\'re in encyclopaedia salesman."'
print(salesman)

Why should I tarred with the epithet "loony" merely because I have a pet halibut.
"I think you're in encyclopaedia salesman."

In [5]:
# string operators

"""
+ : Combined strings
* : Repeat strings
"""

'\n+ : Combined strings\n* : Repeat strings\n'

In [6]:
# + operators
first_word = 'Hello'
second_word = 'there'
print(first_word + second_word)

Hellothere

In [7]:
# we see the two names are squished together. two print space between both words we need to put explicitly include space
print(first_word + ' ' + second_word)

Hello there

In [8]:
# * operators
print(first_word * 5) # * repeats the string as many times as you multiply it.

HelloHelloHelloHelloHello

In [9]:
# len() : built-in function that returns the length of the object.
udacity_length = len('Udacity') # return the number of characters of the string
print(udacity_length)

7

In [11]:
username = "Kinari"
timestamp = "04:50"
url = "http://petshop.com/pets/mammals/cats"

# TODO: print a log message using the variables above.
# The message should have the same format as this one:
# "Yogesh accessed the site http://petshop.com/pets/reptiles/pythons at 16:20."

output = username + ' accessed the site ' + url + ' at ' + timestamp + '.'
print(output)

Kinari accessed the site http://petshop.com/pets/mammals/cats at 04:50.

In [13]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"

name_length = len(given_name + " " + middle_names + " " + family_name) #todo: calculate how long this name is

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

In [14]:
# Type and Type Conversion

In [15]:
house_number = 13
street_name = "The Crescent"
town_name = "Belmont"
print(type(house_number))

address = str(house_number) + " " + street_name + " " + town_name
print(address)

<class 'int'>
13 The Crescent Belmont

In [16]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
total_sales = int(mon_sales) + int(tues_sales) + int (wed_sales) + int(thurs_sales) + int(fri_sales)
print("This week\'s total sales: " + str(total_sales))

This week's total sales: 529